/*
#exampleImagesDiv {
  background-color:#dddddd;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#exampleImagesDiv img {
  width:150;
  height:130;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color:#999999;
  padding:4px;
  margin:5px;
}

#exampleImagesDiv .sel {
	background-color:#666666;
}
*/

#downloadTexdocletDiv a {
  float:left;
  margin-right:20px;
}

#downloadTexdocletDiv img {
	width:90;
  border:none;
  box-shadow: 0 0 0px #EBEBEB;
}